%h2
  = link_to l(:label_vacation_status_plural), vacation_statuses_path
  &#187;
  =l(:label_vacation_status_new)

- form = labelled_form_for @vacation_status do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_create)
= form if Rails::VERSION::MAJOR >= 3  
