%h2
  = link_to l(:label_vacation_range_plural), action: 'index'
  &#187;
  =h @vacation_range

- form = labelled_form_for @vacation_range do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_save)
= form if Rails::VERSION::MAJOR >= 3
