%p= l(:mail_body_vacation_from_author, :user => @user.name, :vacation_start => @vacation.start_date.strftime("%d.%m.%Y"), :vacation_end => @vacation.end_date.strftime("%d.%m.%Y") )

%ul
  - @issues.each do |issue|
    %li
      =h(issue.project) + " - " + link_to(h("#{issue.tracker} ##{issue.id}"), :controller => 'issues', :action => 'show', :id => issue, :only_path => false) + ": " + h(issue.subject)
