= l(:text_author_on_vacation, :author => h(@issue.author), :issue => "##{@issue.id}", :vacation_start => @vacation.start_date, :vacation_end => @vacation.end_date)
%hr
= render :partial => "issue.html.haml", :locals => { :issue => @issue, :issue_url => @issue_url }
